.navbarContainer {
    background: linear-gradient(135deg, #d4ebec, #b2b3f8, #d4a0f0, #f8a8fa);
    background-size: 400% 400%;
    animation: gradientShift 12s ease-in-out infinite;

}

#loginItem{
    font-weight: 500;
    &:hover {
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(206, 10, 10, 0.2);
        background: linear-gradient(115deg, #ffcff8, #fac8e7, #e7bbff, #fd93ff);
        color: #ec2ea9;
        scale: 1.05;
        transition: all 0.25s ease;
    }
}


@keyframes gradientShift {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}