.navbarContainer {
    background: linear-gradient(135deg, #d4ebec, #b2b3f8, #d4a0f0, #f8a8fa);
    background-size: 400% 400%;
    animation: gradientShift 12s ease-in-out infinite;

}



@keyframes gradientShift {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}