.imageWrapper {
    border-radius: 15px;
    width: 90%;
    overflow: hidden; 
}

.imageBlog {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.imageWrapper:hover .imageBlog {
    border-radius: 15px;
    transform: scale(1.1);
}
.blogHomeContainer:hover {
    .imageWrapper{
        .imageBlog{
            transform: scale(1.1);
        }
    } 
    h1{
        color: var(--color-blue-600);
        opacity: 0.71;
    }
} 