@import "tailwindcss";

/* ======================
   BASE
====================== */
html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

/* ======================
   THEME TOKENS – LIGHT
====================== */
:root {
  /* color */
  --color-blue: #2251fd;
  /* Text */
  --text-primary: #171717;
  --text-secondary: #374151;
  --text-muted: #6b7280;

  /* Background */
  --bg-primary: #ffffff;
  --bg-secondary: #f3f4f6;

  /* Border */
  --border-default: #e5e7eb;
}

/* ======================
   THEME TOKENS – DARK
====================== */
html.dark {
  /* Text */
  --text-primary: #ededed;
  --text-secondary: #d1d5db;
  --text-muted: #9ca3af;

  /* Background */
  --bg-primary: #0a0a0a;
  --bg-secondary: #111827;

  /* Border */
  --border-default: #1f2937;
}

/* ======================
   GLOBAL UTILITIES
====================== */
@layer utilities {
  /* color text */
  .color-blue {
    color: var(--color-blue);
  }
  /* Text */
  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .text-muted {
    color: var(--text-muted);
  }

  /* Background */
  .bg-primary {
    background-color: var(--bg-primary);
  }

  .bg-secondary {
    background-color: var(--bg-secondary);
  }

  /* Border */
  .border-default {
    border-color: var(--border-default);
  }

  /* button primary */
  .loginItem {
    
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    border: 1px solid #4A6CF7;
    background-color: #4A6CF7;
    border-radius: 10px; 
    cursor: pointer;
  }
  .loginItem:hover {
    opacity: 0.9;
    transform: translateY(-1px);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(206, 10, 10, 0.2);
    color: #fff;
    scale: 1.05;
    transition: all 0.25s ease;
  }
  /* button O */
  .buttonBg {
    padding: 15px 20px;
    background-color: #9ca3af;
    opacity: 0.81;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .buttonBg:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}
