.backgroundTestimonial {
    background: linear-gradient(115deg, #FCFCFD, #F2F4FB, #F0F3FB, #FAFBFD);
}
:global(html.dark) .backgroundTestimonial {
  background: linear-gradient(
    115deg,
    #0b0b0b,
    #484545,
    #323030,
    #0f0f0f
  );
}

.colorIcon{
  color: var(--color-blue-600);
}
:global(html.dark) .colorIcon{
  color: var(--color-white);
}

.buttonBg {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #9ca3af;
  opacity: 0.61;
  border-radius: 50%;
  transition: all 0.3s ease;
  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}
