
.ourContainer {
    // cursor: pointer;
}
.iconHover {
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    background-color: #8585855c;
    animation: slideUpFade 1s ease forwards;
    &:hover {
        background-color: #155bff;

    }
}
.facebookIcon{
    color: #155bff;
    &:hover{
        scale: 1.2;
        animation: inherit 1s ease all;
        opacity: 0.81;
    }
}
.insIcon{
    color: #f763f7;
    &:hover{
        scale: 1.2;
        animation: inherit 1s ease all;
        opacity: 0.81;
    }
}
.ggIcon{
    color: #fff94e;
    &:hover{
        scale: 1.2;
        animation: inherit 1s ease all;
        opacity: 0.81;
    }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
