.modelContainer {
  padding: 15px;
  border-radius: 25px;
  transition: all 0.3s ease;

  &:hover {
    // padding: 15px;
    scale: 1.1;
    background-color: rgba(111, 231, 255, 0.389);

    .iconModel {
      background-color: rgba(53, 165, 250, 0.712);
      transform: scale(1.1);
    }
  }
}

.iconModel {
  padding: 20px;
  background-color: rgba(255, 246, 246, 0.232);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
