.backgroundModule {
    background: linear-gradient(115deg, #FDFDFD, #F4F6FD, #D9E0FC, #F1F3FB);
}
:global(html.dark) .backgroundModule {
  background: linear-gradient(
    115deg,
    #0b0b0b,
    #484545,
    #323030,
    #0f0f0f
  );
}